*  { margin: 0; box-sizing: border-box; }

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(68, 65, 65);
    font-size:1rem;
    font-weight: 300;
}
nav {
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: #E5E9Ea;
    font-size: 2rem;
    color: #c2a31b;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #BBBBBB;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #c2a31b;
	font-family: 'Yeseva One', cursive;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #c2a31b;
    color: #E5E9Ea;
    border-radius:10px;
}
@media only screen and (min-width: 37.5em) {
	/* Horizontal Flex Menu */
		nav ul { display: flex; }
        nav ul li { flex: 1 1 100%; }
}
@media only screen and (min-width: 32.5em) {
    nav ul {    
        display: flex;
        flex-flow: row;
    }
    nav ul {    
        justify-content: space-evenly; 
    }     		 
}
header, nav, main, footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 800px;
}
header, footer{
    text-align: center;
    background-color: #c2a31b;
    color: whitesmoke;
}
header h1{
    font-size:1.5rem;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}
header img {
    width: 180px;
    height: auto;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}
h2 {
    border-bottom: 1px solid #bbb;
    font-weight:500;
    font-size:1.2rem;
    line-height: 1.5;
    margin-bottom:1rem;
    font-family: 'Lato', sans-serif;
}
main ul li{
    line-height: 1.5;
}
footer{
    line-height: 1.5;
    font-size:0.9rem;
}
footer a{
    color: whitesmoke;
}
#lastMod {
    font-weight: 400;
    color:lightskyblue;
    font-size: 0.8rem;
}
.w3validator{
text-align:center;
}
.w3validator img{
    border:0;
    width:88px;
    height:31px
}
@media only screen and (min-width: 32.5rem){
    header h1{
        font-size:2.5rem;
        font-family: 'Lato', sans-serif;
    }
    h2 {
        font-size:1.5rem;
        font-family: 'Lato', sans-serif;
    }
    header, footer{
        border-radius:10px;
    }
    header img {
        float: right;
    }
}