/* Phone View */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', 'Segoe UI';
    color: #000000;
    font-weight: 300;
    margin-left: auto; 
    margin-right: auto;
    max-width:900px;
}

.logo {
    display: flow-root;
}

header {
    background-color: #4D83FF;
    font-family: 'Lato', cursive;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#lastmodDate {
    font-size: 0.6rem;
    text-align: center;
    color: #ffffff;   
}

footer {
    background-color: #4D83FF;
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 1.5rem;
    justify-content: center;
    box-shadow: inset 0 0 6px;
    border-radius: 10px;
    text-align: center;
    color: #E5E9EA;
    align-items: center;
}
footer a{
    color: #E5E9Ea;
}
.headings {
    margin: 0 0 0 17px;
}

ul {
    margin: 0;
}

nav {
    background-color: #5CAED0;
}

.navigation {
    padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
    color: #E5E9Ea;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1rem;
}

.navigation a:hover {
    background-color:rgb(0,0,0,0.30);
}
.active {
    background-color:rgb(0,0,0,0.30);
}

.responsive li {
	display: block;
}

a {
    color: #4D83FF;
    text-decoration: none;
}

a:hover {
    color: #E5E9EA;
}

h1 {
    color: #5caed0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
}

h2 {
    font-size: 1.3rem;
    line-height: 5rem;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin: 0;
}

h4 {
    color: #E5E9EA;
    text-align: center;
    padding: 10px;
    font-size: .9rem;
    font-weight: 400;
    font-weight: bold;
}
.hero {
    position: relative;
    max-width: 100%;
    display: block;
    margin: auto;
}
.CurrentWeather {
    position: absolute;
    top: 5px;
    left: 30px;
    background: radial-gradient(#eee, #4D83FF);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    color: #ffffff;
}
#headerimg {
    max-width: 100%;
}
.textwhite {
    color: #ffffff;
}
.textblue {
    color: blue;
}
.textgray {
    color: gray;
}
.textdarkgray {
    color: rgb(46, 44, 44);
}
.textcenter {
    text-align: center;
}
.ArticleSection img {
    max-width: 100%;
    width: 560px;
    display: block;
    margin: auto;
}
.socialmedia {
    max-width: 100%;
    width: 40px;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table td {
    border:1px solid gray;
    border-spacing: 5px 10px;
}
.five-day {
    display: none;
}
.contact {
    display: none;
}
.offer {
    background-color: yellowgreen;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px;
}

picture {
    margin:20px auto;
    display:block;
    max-width:100%;
    text-align:center;
    background-image: url("../images/placeholder2.jpg");
    min-width: 300px;
    min-height: 200px;
  }

  img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

picture:hover {
    box-shadow: 10px 10px 10px 10px grey;
}

.stormcenter {
    background-color: #46E8D7;
}
.stormcenter label, legend{
    display: block;
    margin-left: 10px;
}
.stormcenter input[type="text"],
.stormcenter input[type="date"],
.stormcenter input[type="email"],
.stormcenter input[type="number"],
.stormcenter input[type="tel"],
.stormcenter select {
    display: block;
    box-sizing: border-box;
    width: 95%;
    padding: 8px;
    margin:8px;
}

.stormcenter input[type="radio"]{
    box-sizing: border-box;
    padding: 8px;
    padding: 8px;
    margin:8px;
}

.stormcenter textarea {
    display: block;
    box-sizing: border-box;
    height: 10rem;
    width: 95%;
    padding: 8px;
    margin:8px;
}
.radiotext {
    margin-right:1.5rem;
    margin-left: .5rem;
    padding: 8px;
    margin:8px;
}

.stormcenter .section{
    margin-bottom: 5px;
    font-size:medium;
    font-weight: bold;
    padding: 8px;
    margin:8px;
}
.stormcenter .section span {
    background: #5caed0;
    position: absolute;
    font-size: 14px;
    color: #ffffff;;
    display:none;
    padding: 8px;
    margin:8px;
}
.stormcenter input[type="button"],
.stormcenter input[type="submit"]{
    background:  #4D83FF;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    font-size: 15px;
}
.stormcenter input[type="button"]:hover,
.stormcenter input[type="submit"]:hover{
    background: #5caed0;
}
input#severity{
    width:50%;
    vertical-align: middle;
}
.center {
    margin: 0 auto;
    display: block;
    text-align: center;
}

