/* Wide Desktop view*/
@media only screen and (min-width: 60em) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigatoin li a {
        color: #4D83FF;
    }

    .logo {
        float: left;
    }

    footer {
        max-width: 900px;
    }

    h1 {
        font-size: 2.5rem;
    }
    .ArticleSection img {
        float: right;
        margin: 1em;
    }
}