*
{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

div
{
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 8px 2px #628ca6;
}

table tr td,
table tr th,
caption
{
    border: 1px solid #ccc;
    padding: 11px 0px;
}

table tr td:hover
{
    background-color: #628ca6;
    cursor: pointer;
    color: white;
}

caption
{
    border-bottom:0px;
    font-weight: 900;
    font-size: 2rem;
}

table
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color:#e7f0ed;
}

thead
{
    background-color: #628ca6;
    color: white;
    font-size: 1.5rem;
}

table tr:nth-child(2n)
{
    background-color:#e7ffed;
}

tfoot
{
    font-size: 1rem;
}

tfoot,
caption
{
    background-color:#7fb9c2;
}